<section class="intro" id="start">
  <h2>About us/me</h2>
  <p>TBA</p>
  <aside class="notes">
		Say smth about us
	</aside>
</section>

<section>
  <h2>Who are we talking to?</h2>
  <aside class="notes">
		Say smth about us
	</aside>
</section>

<section>
  <h2>What you want to do?</h2>
</section>

<section>
  <h2>How much developers earn?</h2>
  <p>
    <a href="https://twitter.com/dabit3/status/1152639221775175681">$400-$900k :D</a>
  </p>
</section>

<section>
  <h2>Salary calculators</h2>
  <ul>
    <li><a href="https://stackoverflow.com/jobs/salary">Stackoverflow</a></li>
    <li><a href="https://www.glassdoor.com/Salaries/know-your-worth.htm">Glassdoor</a></li>
    <li><a href="https://www.glassdoor.com/Salaries/russia-salary-SRCH_IL.0,6_IN205.htm">Glassdoor2</a></li>
    <li><a href="https://www.linkedin.com/salary/">Linkedin(No Russia)</a></li>
  </ul>
</section>

<section>
  <h2>Job market demand</h2>
</section>

<section>
  <h2>Becoming a developer nowadays</h2>
</section>

<section>
  <h2>Where to start</h2>
</section>

<section>
  <h2>Onsite vs remote</h2>
</section>

<section>
  <h2>How to prepare for an interview</h2>
</section>

<section>
  <h2>Q/A</h2>
</section>
