<section class="intro" id="start">
  <h2>About us/me</h2>
  <p>TBA</p>
  <aside class="notes">
		Say smth about us
	</aside>
</section>

<section>
  <h2>Who are we talking to?</h2>
  <aside class="notes">
		Say smth about us
	</aside>
</section>

<section data-background-image="images/rasputie.jpg" class="reverse">
  <h2>What you want to do?</h2>
  <ul>
    <li>Front End Development</li>
    <li>Back End Development</li>
    <li>Mobile development</li>
    <li>IOT</li>
    <li>Machine Learning</li>
    <li>many many more...</li>
  </ul>
</section>

<section>
  <h2>Becoming a developer nowadays</h2>
  <p><a href="https://roadmap.sh/"><img src="images/roadmap-intro.png" alt=""></a>
  </p>
</section>

<section>
  <h2>Where to start?</h2>
  <ul>
    <li><a href="https://www.edx.org/course/cs50s-introduction-to-computer-science">Computer science</a></li>
    <li><a href="https://try.github.io/">Learn GIT</a></li>
    <li>English is still dominant</li>
  </ul>
   <aside class="notes">
		Computer science - At least basics
	</aside>
</section>

<section>
  <h2><a href="https://insights.stackoverflow.com/survey/2019"> Stackoverflow survey 2019</a></h2>
  <ul>
    <li>DevOps specialists and site reliability engineers are among the highest paid</li>
    <li>Python, the fastest-growing major programming language</li>
  </ul>
</section>

<section>
  <h2><a href="https://insights.stackoverflow.com/survey/2019#most-popular-technologies">Most popular</a></h2>
  <ul>
    <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">JavaScript</a></li>
    <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTML">HTML</a>/<a href="https://developer.mozilla.org/en-US/docs/Web/CSS">CSS</a></li>
    <li><a href="https://www.w3schools.com/sql/">SQL</a></li>
    <li><a href="https://www.python.org/">Python</a></li>
    <li><a href="https://docs.oracle.com/en/java/">Java</a></li>
  </ul>
</section>

<section>
  <h2>Most wanted programming languages</a></h2>
  <p>
    <a href="https://insights.stackoverflow.com/survey/2019#technology-_-most-loved-dreaded-and-wanted-languages">
      <img src="images/survey-wanted.png" alt="">
    </a>
  </p>
</section>

<section>
  <h2>Online courses</h2>
  <ul>
    <li><a href="https://www.udemy.com">Udemy</a></li>
    <li><a href="https://www.udacity.com">Udacity</a></li>
    <li><a href="https://www.coursera.org/">Coursera</a></li>
    <li><a href="https://www.edx.org">edX</a></li>
    <li>And many more...</li>
  </ul>
</section>

<section>
  <h2>Puzzles and practise</h2>
  <ul>
    <li><a href="https://leetcode.com">LeetCode</a></li>
    <li><a href="https://www.hackerrank.com">Hackerrank</a></li>
    <li><a href="https://www.codility.com">Codility</a></li>
    <li><a href="https://codesignal.com">CodeFights</a></li>
    <li><a href="https://www.codewars.com">Codewars</a></li>
    <li>And many more...</li>
  </ul>
</section>

<section>
  <h2>Make it open</h2>
  <ul>
    <li><a href="https://github.com/">Github</a></li>
    <li><a href="https://gitlab.com">Gitlab</a></li>
  </ul>
</section>

<section>
  <h2>Host for free</h2>
  <ul>
    <li><a href="https://pages.github.com/">Github pages</a></li>
    <li><a href="https://docs.gitlab.com/ee/user/project/pages/">Gitlab pages</a></li>
    <li><a href="https://www.netlify.com/">Netlify</a></li>
  </ul>
</section>

<section>
  <h2><a href="https://insights.stackoverflow.com/survey/2019#technology-_-what-languages-are-associated-with-the-highest-salaries-worldwide">How much developers earn?</a></h2>
  <p>
    <a href="https://twitter.com/dabit3/status/1152639221775175681"><img src="images/900k-1.png" alt=""></a>
  </p>
  <p>
    <a href="https://twitter.com/bmeurer/status/1152983143772807168"><img src="images/900k-2.png" alt=""></a>
  </p>
</section>

<section>
  <h2>Salary calculators</h2>
  <ul>
    <li><a href="https://stackoverflow.com/jobs/salary">Stackoverflow</a></li>
    <li><a href="https://www.glassdoor.com/Salaries/know-your-worth.htm">Glassdoor</a></li>
    <li><a href="https://www.glassdoor.com/Salaries/russia-salary-SRCH_IL.0,6_IN205.htm">Glassdoor2</a></li>
    <li><a href="https://www.linkedin.com/salary/">Linkedin(No Russia)</a></li>
  </ul>
</section>

<section>
  <h2>Profile</h2>
  <ul>
    <li><a href="https://github.com/">Github</a></li>
    <li><a href="https://gitlab.com">Gitlab</a></li>
    <li><a href="https://linkedin.com">Linkedin</a></li>
  </ul>
</section>

<section>
  <h2>Preparing for the interview</h2>
  <ul>
    <li><a href="https://www.glassdoor.com">Glassdoor</a></li>
    <li><a href="https://www.amazon.com/Cracking-Coding-Interview-Programming-Questions/dp/0984782850">Cracking the Coding Interview</a></li>
  </ul>
</section>

<section>
  <h2>Finding remote job</h2>
  <ul>
    <li><a href="https://stackoverflow.com/jobs">Stack Overflow</a></li>
    <li><a href="https://nomadlist.com">NomadList</a></li>
    <li><a href="https://www.upwork.com">Upwork</a></li>
  </ul>
</section>

<section>
  <h2>Q/A</h2>
</section>
