<section class="intro" id="start">
  <h2>About us/me</h2>
  <p>TBA</p>
  <aside class="notes">
		Say smth about us
	</aside>
</section>

<section>
  <h2>Who are we talking to?</h2>
</section>

<section>
  <h2>What you want to do?</h2>
</section>

<section>
  <h2>How much developers earn?</h2>
  <p>Fields comparison TBA</p>
  <p>Average wage comparison</p>
</section>

<section>
  <h2>Job market demand</h2>
</section>

<section>
  <h2>Becoming a developer nowadays</h2>
</section>

<section>
  <h2>Where to start</h2>
</section>

<section>
  <h2>Onsite vs remote</h2>
</section>

<section>
  <h2>How to prepare for an interview</h2>
</section>

<section>
  <h2>Q/A</h2>
</section>
